.cdek-map__root{
    margin-bottom: 20px;
}

#map{
    height: 600px;
    width: 100%;
    position: relative;
}

.map-choice{
    padding: 15px;
    background: #ACE0AC;
    color: #155724;
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.map-choice__col:nth-child(odd){
    width: 35%;
    font-size: 18px;
}

.map-choice__col:nth-child(even){
    width: 65%;
}

@media (max-width: 767px) {
    .map-choice__col{
        width: 100% !important;
    }
    .map-choice__col:nth-child(even){
        margin-bottom: 5px;
    }
}